{
  # Optional: Email for Let's Encrypt certificates
  # email {$CADDY_EMAIL}
}

# Configure via env var.
# - For HTTP only: CADDY_HOST=:80
# - For HTTPS:     CADDY_HOST=sim.example.org
{$CADDY_HOST::80} {
  encode gzip

  reverse_proxy simulator:5000
}
